[tool.aerich]
tortoise_orm = "settings.TORTOISE_ORM"
location = "./migrations"
src_folder = "./."


[tool.ruff]
line-length = 120
select = [
    "E",
    "F",
    "W",
]
[tool.ruff.format]
quote-style = "double"

